/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
background-color:rgb(202, 202, 202);
margin:0;
font-family: "Roboto", sans-serif;   
}    
/*utils*/
.container {
background-color: white;
}

/* header */
header {
    height: 70px;
    background-color: white;
    border-bottom:1px;
    margin-bottom:30px;
    padding: 10px;
   }
#logo{
    display: inline;
    height: 50px;
    vertical-align: middle;
}
h1{
    display:inline;
    font-weight:900;
    font-size:36px;
    vertical-align: super;
    }
/* main */
main {
    background-color: white;
    max-width: 1002px;
    margin: 0 auto;
    border-radius: 5px;
}
/*card*/
.card-header{
   padding:1%;
    
}
.card-body{
    padding-left: 1%;
}

/* btn */
.btn{
padding: 0 10px;
}

.blue {
    background-color: #1E90FF;
    color:white;
    padding: 5px;    
    border-color: transparent;
    border-radius: 5px;
    
}
.white {    
    background-color: white;
    color: rgb(202, 202, 202);
    padding: 5px;
    border:1px solid;    
    border-color: rgb(202, 202, 202);
    border-radius: 5px;
}


/* ul */
ul {
    list-style: none;
    padding:1px;
}
li{
    padding-left: 2px auto;
}


/*span*/
.check {
    display:inline-block;
    color: green;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    border:1px solid green;
    font-size: 10px;
    margin-right: 1%;
}
.cross {
    display:inline-block;
    color: red;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    border:1px solid red;
    font-size: 10px;
    margin-right: 1%;
}
.editorial {
    display:inline-block;
    color: white;
    background-color: rgb(72, 156, 212);
    padding:6px;
    border-style: none;
    border-radius: 20px;
    margin:5px;
    font-size: small;
}
.goal {
    display:inline-block;
    color: white;
    background-color: rgb(98, 12, 116);
    padding:6px;
    border-style: none;
    border-radius: 20px;
    margin:5px;
    font-size: small;
    }
.recruiting {
    display:inline-block;
    color: white;
    background-color: rgb(32, 161, 133);
    padding:6px;
    border-style: none;
    border-radius: 20px;
    margin:5px;
    font-size: small;
}
.mobile {
    display:inline-block;
    color: white;
    background-color: rgb(230, 152, 35);
    padding:6px;
    border-style: none;
    border-radius: 20px;
    margin:5px;
    font-size: small;
}
.web {
    display:inline-block;
    color: white;
    background-color:#D863A0;
    padding:6px;
    border-style: none;
    border-radius: 20px;
    margin:5px;
    font-size: small;}

.sale {
    display:inline-block;
    color: white;
    background-color: #B1C928;
    padding:6px;
    border-style: none;
    border-radius: 20px;
    margin:5px;
    font-size: small;
}
