/*CSS reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
background-color:rgb(150, 150, 150);
margin:0;
font-family: "Roboto", sans-serif;   
}    
/*utils*/
.container {
background-color: white;
}

/* header */
header {
    height: 70px;
    background-color: white;
    border-bottom:1px;
}

h1{
    display:inline-block;
    font-weight: 700;    
}
/* main */
main {
    background-color: white;
}
/* btn */
#btn {
    background-color: white;
    padding: 10px;
    margin: 20px;
}
.blue {
    background-color: #1E90FF;
    color:white;
    border-radius:5px;
    border-color: transparent;
    
}
.white {    
    color: rgb(202, 202, 202);
    border-color: rgb(202, 202, 202);
    border-radius:5px;
}

/*card*/

/* ul */


